@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0066ff;
}

.home-btn a{
    color: white ;
}

.main {
    width: 400px;
    height: 500px;
    background-color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    padding-top: 40px;
}

input {
    margin: 10px 0;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-weight: 700;
    padding-left: 20px;
}

p{
    padding: 10px 0;
    font-weight: 700;
    color: gray;
}

a{
    color: #0066ff;
    text-decoration: none;
    font-weight: 700;
}

a:hover{
    text-decoration: underline;
}

.button{
    background-color: #0066ff;
    color: white;
    padding-left: 0;
}

.fb-btn{
    background-color: #2d5986;
    color: white;
}

.g-btn{
    color: gray;
}